<section class="complete-registration">
    <div class="container-fluid">
        <div class="row border-bot">
            <div class="col-xxl-2">
                <div class="box-logo pad-default">
                    <img src="../../assets/img/logo-complete.jpg" class="img-responsive" alt="SimInteligência" title="SimInteligência" />
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="box-registration pad-default ">
                    <span>Cadastro de usuário</span>
                    <mat-progress-bar mode="determinate" value="40"  class="progress-bar"></mat-progress-bar>
                </div>
            </div>
            <div class="col-xxl-3 box-user">
                <div class="box-profile">
                    <div class="box-photo">
                        <img src="../../assets/img/photo-profile.jpg" class="img-responsive" alt="Profile" title="Profile" />
                    </div>
                    <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                    <div class="box-name">
                        <span>GrupoTMT</span>
                        <!-- <span class="name">{{(user$|async)?.email}}</span> -->
                    </div>  
                </div>
                <div class="box-xp">
                    <span>75.7 XP</span>
                </div>
                <button (click)="logout()">Logout</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-2 relative">
                <div class="box-levels pad-default">
                    <span class="active"><i class="fa fa-check-circle" aria-hidden="true"></i> 1 - Cadastro realizado</span>
                    <span><i class="fa fa-minus-circle" aria-hidden="true"></i> 2 - Completar cadastro</span>
                </div>
                <div class="box-notify-bottom">
                    <div class="box-itens">
                        <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                        <div class="user">
                            <a href="#">
                                <img src="../../assets/img/not-user.jpg" class="img-responsive" alt="Profile" title="Profile" />
                            </a>
                        </div>
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="box-area-form ">
                    <div class="form-area">
                        <div class="title-complete">
                            <span>Completar cadastro</span>
                            <span class="number-pages">Página 1 - 2 de 2</span>
                        </div>
                        <mat-progress-bar mode="determinate" value="40"  class="progress-bar"></mat-progress-bar>

                        <div class="box-form">
                            <p>Seu cadastro foi criado com sucesso, para acessar ao conteúdo do Grupo TMT. <br>
                                Complete seus dados de acesso para liberar sua conta.
                            </p>
    
                            <form action="" class="formulario">
                                <div class="row">
                                    <div class="col-xxl-6 column-vertical">
                                        <span>Nome</span>
                                        <input type="text" placeholder="Nome e sobrenome">
                                    </div>
                                    <div class="col-xxl-6 column-vertical">
                                        <span>Email</span>
                                        <input type="text" placeholder="email@exemplo.com">
                                    </div>
                                    <div class="col-xxl-6 column-vertical">
                                        <span>Telefone</span>
                                        <input type="text" placeholder="(xx) xxxxx-xxxx">
                                    </div>
                                    <div class="col-xxl-6 column-vertical">
                                        <span>Rua/Avenida</span>
                                        <input type="text" placeholder="Digite sua Rua/Avenida">
                                    </div>
                                    <div class="col-xxl-6 column-vertical">
                                        <span>CPF</span>
                                        <input type="text" placeholder="Digite seu CPF">
                                    </div>
                                    <div class="col-xxl-6 column-vertical">
                                        <span>Cidade</span>
                                        <input type="text" placeholder="Digite sua cidade">
                                    </div>
                                    <div class="col-xxl-12">
                                        <div class="box-buttons">
                                            <button type="submit" class="btn-login btn-clear">Limpar</button>
                                            <button type="submit" class="btn-login" >Salvar</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>

                    <div class="box-copyright">
                        <span>Powered by: <img src="../../assets/img/icon-link-copy.jpg" class="img-responsive" alt="SimInteligência" title="SimInteligência" />
                        SimInteligência.ai
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 box-faq">
               
                <div class="faq">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Perguntas frequentes</span>
                </div>
                <div class="box-duvidas">
                    <span>Dúvidas</span>
                    <p>Este espaço está reservado para<br> que você possa esclarecer todas<br> as suas dúvidas.</p>
                </div>

                <div class="box-digite">
                    <input type="text" placeholder="Digite sua dúvida">
                </div>
            </div>
        </div>
    </div>
</section>