<section class="login-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-4">
            <div class="box-login">
                <img src="../../assets/img/logo.jpg" class="img-responsive" alt="SimInteligência" title="SimInteligência" />

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="box-form">
                        <div class="col-xxl-12"> 
                            <span>Login</span>
                            <input type="text" placeholder="Seu login" formControlName="email" autocomplete="email" >
                        </div>
                        <div class="col-xxl-12">
                            <div class="box-senha">
                                <span>Senha</span>
                                <span><a href="#">Esqueceu sua senha?</a></span>
                            </div>
                            <input type="password" placeholder="Sua senha" formControlName="password" autocomplete="password">
                        </div>
                        <div class="col-xxl-12">
                            <button type="submit" class="btn-login" [disabled]="!loginForm.valid">Entrar</button>
                        </div>
                        <div class="col-xxl-12">
                            <div class="no-account">
                                <span>Ainda não possui conta?</span>
                                <span class="recuperar-senha"><a href="/registrar">Solicite uma demonstração</a></span>
                            </div>
                        </div>
                    </div> 
                </form>
                
            </div> 
        </div>
        <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-8 col-8 no-padding">
            <div class="box-image"></div>
        </div>
      </div>
    </div>
  </section> 